<div class="border-bottom row" style= "margin-bottom: 16px; padding-bottom: 8px;">
    <div class="col-10">
        <a style="text-decoration: none;color: inherit;" href="/job/{{job['id']}}">
            <h5 
          style= "color:rgb(120,120,120); margin-bottom: 4px;">
            {{job['title']}}
            </h5>
        </a>
        <div>
            <b>Location</b>: {{job['location']}}
        </div>
        <div>
            <b>Salary</b>: {{job['salary']}} {{job['currency']}}
        </div>
    </div>
    <div class="col-2">
        <a  class="btn btn-outline-primary m-3" href="mailto:mail@mail.com?subject=Application%20{{job['title']}}&body=Name%3A%20%3Cyour%20full%20name%3E%0D%0A%0D%0AResume%3A%20%3Cattach%20resume%3E%0D%0A%0D%0ALinkedIn%3A%20%3Clink%3E%0D%0A%0D%0AGitHub%3A%20%3Clink%3E%0D%0A">Apply</a>
    </div>
</div>